.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #282930;
  color: white;
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.list {
  list-style: none;
}

.btn {
  width: 290px;
  height: 55px;
  padding: 20px 20px;
  background-color: #f4ad7b;
  border: none;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #282930;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
  background-color: #282930;
}

.nav {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 70px;
  }
}

.nav .nav_button {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .nav .nav_button {
    border-radius: 50% 50%;
    background-color: #f4ad7b;
    display: block;
    border: none;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item_site_nav:not(:last-child) {
    margin-right: 25px;
  }
}

.nav .logo {
  width: 74px;
  height: 37px;
  margin-right: 22px;
}

.navigation_menu {
  display: flex;
}

.site_nav {
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site_nav {
    margin-right: 22px;
    align-items: center;
  }
}

.site_nav .item_site_nav {
  list-style: none;
  margin-right: 5px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav .item_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 155.32%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
}

.site_nav .item_site_nav .close_btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .site_nav .logo_menu {
    display: none;
  }
}

.site_nav .item_site_nav a {
  text-decoration: none;
  color: white;
}

.auth_nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

.auth_nav .icon_link_bascket {
  background-color: #f4ad7b;
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .basket {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth_nav .item_auth_nav:not(:last-child) {
    margin-right: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .item_auth_nav .icon_list {
    justify-content: flex-start;
  }
}

.auth_nav .icon {
  width: 150px;
}

.auth_nav .icon_link {
  background-color: #f4ad7b;
}

.auth_nav .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
}

.auth_nav .foot_tel .first_text {
  font-size: 11px;
  line-height: 19px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-button {
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .navigation-button .icon-cross {
    display: none;
  }
  .navigation-button.is-open .icon-cross {
    display: block;
  }
  .navigation-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .back_drop_menu {
    display: none;
  }
  .back_drop_menu.is-open {
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 41, 48, 0.5);
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .navigation_menu {
    display: none;
    position: absolute;
    width: 270px;
    height: 583px;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    font-size: 20px;
    background: #282930;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .navigation_menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation_button {
    display: none;
  }
}

.icon .icon_list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.icon .icon_item {
  list-style: none;
}

.icon .icon_item .icon_link {
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon .icon_item .icon_img {
  width: 16px;
  height: 16px;
}

.icon .icon_item:not(:last-child) {
  margin-right: 10px;
}

.icon .icon_link:hover, .icon .icon_link:focus {
  background-color: #0616ff;
}

.list_stocks_menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 30px 0 30px 0;
}

@media screen and (max-width: 1169px) {
  .list_stocks_menu {
    display: none;
  }
}

.item_stocks_menu {
  width: 300px;
  text-align: center;
  color: #3b3b3b;
  font-size: 14px;
  line-height: 183.7%;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px;
}

.item_stocks_menu .prop_text {
  margin: 0;
}

.item_stocks_menu .second_prop_text {
  font-weight: 300;
  font-size: 11px;
  line-height: 183.7%;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.item_stocks_menu .prop_text2 {
  margin: 0;
}

.item_stocks_menu.part_1 {
  background-color: #faf8f8;
}

.item_stocks_menu.part_2 {
  background-color: #fedfdf;
}

.item_stocks_menu.part_3 {
  background-color: #e9e9ff;
}

.item_stocks_menu.part_4 {
  background-color: #ecfff9;
}

body {
  background-color: #fff;
}

.section_form {
  color: #1e1613;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.section_form .form_btn {
  width: 280px;
  height: 80px;
}

.contact_details {
  width: 580px;
}

.tb {
  width: 580px;
  margin: 0;
  position: relative;
}

.tb input[type='checkbox'] {
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.tb .details_list {
  display: none;
}

.tb .title_place:before {
  content: '+';
  position: absolute;
  font-size: 50px;
  font-weight: 100;
  top: -5px;
  left: 0;
  color: #f4ad7b;
}

.tb input[type='checkbox']:checked ~ .title_place:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 3px;
  width: 24px;
  border-bottom: 3px solid #f4ad7b;
}

.tb input[type='checkbox']:checked ~ .details_list {
  display: block;
}

.main_title {
  font-family: 'Playfair Display';
  color: #282930;
  font-size: 90px;
  line-height: 100px;
  margin: 0;
  margin-bottom: 25px;
}

.under_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 126.39%;
  margin: 0;
}

.title_place {
  position: relative;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  border-bottom: 1px solid #282930;
}

.point_details {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}

.point_details span {
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.point_details_second {
  font-size: 30px;
  line-height: 126.39%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.point_details_second span {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  margin: 0;
}

.details_list {
  padding: 0;
  padding-bottom: 80px;
  border-bottom: 1px solid #282930;
}

.details_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details_item:not(:last-child) {
  margin-bottom: 35px;
}

.send_form {
  width: 520px;
  height: 680px;
  padding: 60px;
  background: white;
  box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.send_form-titel {
  font-family: 'Playfair Display';
  font-size: 60px;
  line-height: 70px;
  margin: 0;
  margin-bottom: 50px;
}

.text-area {
  resize: none;
  width: 400px;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 12px 0;
  position: relative;
}

.text-area:focus + .text-area-label,
.text-area:not(:placeholder-shown) + .text-area-label {
  color: #f4ad7b;
  transform: translateY(-31px);
}

.text-area-label {
  position: absolute;
  top: 12px;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text-area:focus {
  border: 1px solid #f4ad7b;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
  color: #1e1613;
}

.form-input {
  width: 400px;
  margin: 0%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  border-radius: 4px;
  position: relative;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #f4ad7b;
  transform: translateY(-40px) translateX(0);
}

.form-input:focus ~ .icon-input {
  fill: #f4ad7b;
}

.form-input:focus {
  border: 1px solid #f4ad7b;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #282930;
  text-align: center;
}

.checkbox-label .politics {
  text-decoration: none;
  color: #ac92ed;
}

@media screen and (min-width: 1170px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

.checkbox:checked + .icon-checkbox {
  background-color: #f4ad7b;
  background-image: url(../img/icon/icon-check.svg);
  background-size: contain;
  background-origin: content-box;
  border: #f4ad7b;
}

.submit-btn {
  width: 400px;
  height: 80px;
  margin: 0 auto;
}

.section_map {
  text-align: center;
  position: relative;
}

.section_map .map_msc {
  width: 1300px;
  height: 750px;
}

.map_form {
  width: 460px;
  height: 550px;
  background-color: #282930;
  padding: 80px;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 11%;
}

.list_map_switch {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.list_schedule {
  padding: 0;
  margin: 0;
  text-align: left;
}

.item_schedule {
  margin-bottom: 30px;
}

.item_schedule .text_adress {
  font-size: 22px;
  line-height: 120%;
}

.item_schedule .text_tel {
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
}

.item_schedule .text_time {
  font-size: 18px;
  line-height: 100%;
}

.item_schedule .icon_link {
  background-color: #fff;
}

.map_form_btn {
  width: 300px;
  height: 60px;
  background-color: #fff;
}

.form_radio_btn {
  display: inline-block;
  margin-right: 10px;
}

.form_radio_btn input[type='radio'] {
  display: none;
}

.form_radio_btn label {
  display: inline-block;
  background-color: unset;
  border: none;
  border-bottom: 1px solid #f4ad7b00;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  user-select: none;
}

/* Checked */
.form_radio_btn input[type='radio']:checked + label {
  color: #f4ad7b;
  border-bottom: 1px solid #f4ad7b;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
  border-bottom: 1px solid #666;
}

.section-footer {
  background-color: #282930;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: 320px;
    padding: 31px 15px;
  }
}

.footer .logo_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer .logo_title .logo_img {
  width: 139px;
  height: 69px;
  margin-right: 20px;
}

.footer .logo_title .text {
  display: inline-block;
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #5f5f5f;
}

@media screen and (min-width: 768px) {
  .footer .logo_title .text {
    color: white;
  }
}

.footer .foot_address {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_address {
    align-items: flex-start;
    text-align: left;
  }
}

.footer .foot_address .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_address .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_tel {
    align-items: flex-start;
    text-align: left;
    width: 200px;
  }
}

.footer .foot_tel .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_tel .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer_list {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer_list {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.footer_list .footer_list_item {
  list-style: none;
}

.footer_list .footer_list_item .icon_link {
  background-color: #f4ad7b;
}

@media screen and (min-width: 768px) {
  .footer_list .footer_list_item:not(:last-child) {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=contacts.css.map */