.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #282930;
  color: white;
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.list {
  list-style: none;
}

.btn {
  width: 290px;
  height: 55px;
  padding: 20px 20px;
  background-color: #f4ad7b;
  border: none;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #282930;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
  background-color: #282930;
}

.nav {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 70px;
  }
}

.nav .nav_button {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .nav .nav_button {
    border-radius: 50% 50%;
    background-color: #f4ad7b;
    display: block;
    border: none;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item_site_nav:not(:last-child) {
    margin-right: 25px;
  }
}

.nav .logo {
  width: 74px;
  height: 37px;
  margin-right: 22px;
}

.navigation_menu {
  display: flex;
}

.site_nav {
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site_nav {
    margin-right: 22px;
    align-items: center;
  }
}

.site_nav .item_site_nav {
  list-style: none;
  margin-right: 5px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav .item_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 155.32%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
}

.site_nav .item_site_nav .close_btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .site_nav .logo_menu {
    display: none;
  }
}

.site_nav .item_site_nav a {
  text-decoration: none;
  color: white;
}

.auth_nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

.auth_nav .icon_link_bascket {
  background-color: #f4ad7b;
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .basket {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth_nav .item_auth_nav:not(:last-child) {
    margin-right: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .item_auth_nav .icon_list {
    justify-content: flex-start;
  }
}

.auth_nav .icon {
  width: 150px;
}

.auth_nav .icon_link {
  background-color: #f4ad7b;
}

.auth_nav .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
}

.auth_nav .foot_tel .first_text {
  font-size: 11px;
  line-height: 19px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-button {
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .navigation-button .icon-cross {
    display: none;
  }
  .navigation-button.is-open .icon-cross {
    display: block;
  }
  .navigation-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .back_drop_menu {
    display: none;
  }
  .back_drop_menu.is-open {
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 41, 48, 0.5);
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .navigation_menu {
    display: none;
    position: absolute;
    width: 270px;
    height: 583px;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    font-size: 20px;
    background: #282930;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .navigation_menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation_button {
    display: none;
  }
}

.icon .icon_list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.icon .icon_item {
  list-style: none;
}

.icon .icon_item .icon_link {
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon .icon_item .icon_img {
  width: 16px;
  height: 16px;
}

.icon .icon_item:not(:last-child) {
  margin-right: 10px;
}

.icon .icon_link:hover, .icon .icon_link:focus {
  background-color: #0616ff;
}

.range-slider {
  margin-bottom: 30px;
}

.range-slider__values {
  width: calc(100% - 50% / (var(--max) - var(--min)));
}

.range-slider {
  --primary-color: #f4ad7b;
  --value-offset-y: var(--ticks-gap);
  --value-active-color: unset;
  --value-background: transparent;
  --value-background-hover: var(--primary-color);
  --value-font: 700 12px/1 Arial;
  --fill-color: var(--primary-color);
  --progress-background: #cfcfcf;
  --progress-radius: 0px;
  --track-height: calc(var(--thumb-size) / 2);
  --min-max-font: 12px Arial;
  --min-max-opacity: 0.5;
  --min-max-x-offset: 10%;
  --thumb-size: 22px;
  --thumb-color: var(--primary-color);
  --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 0 0 99px var(--thumb-color) inset;
  --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset
      var(--thumb-color),
    0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
  --thumb-shadow-hover: var(--thumb-shadow);
  --ticks-thickness: 1px;
  --ticks-height: 5px;
  --ticks-gap: var(
    --ticks-height,
    0
  );
  --ticks-color: silver;
  --step: 1;
  --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
  --maxTicksAllowed: 30;
  --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
  --x-step: Max(
    var(--step),
    var(--too-many-ticks) * (var(--max) - var(--min))
  );
  --tickInterval: 100/ ((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
  --tickIntervalPerc: calc(
    (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) *
      var(--tickEvery, 1)
  );
  --value-a: Clamp(
    var(--min),
    var(--value, 0),
    var(--max)
  );
  --value-b: var(--value, 0);
  --text-value-a: var(--text-value, '');
  --completed-a: calc(
    (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --completed-b: calc(
    (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
  );
  --ca: Min(var(--completed-a), var(--completed-b));
  --cb: Max(var(--completed-a), var(--completed-b));
  --thumbs-too-close: Clamp(
    -1,
    1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
    1
  );
  --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
  --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
  display: inline-block;
  height: Max(var(--track-height), var(--thumb-size));
  background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background-size: var(--tickIntervalPerc) var(--ticks-height);
  background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2);
  background-position-y: var(--flip-y, bottom);
  padding-bottom: var(--flip-y, var(--ticks-gap));
  padding-top: calc(var(--flip-y) * var(--ticks-gap));
  position: relative;
  z-index: 1;
}

.range-slider[data-ticks-position='top'] {
  --flip-y: 1;
}

.range-slider::before, .range-slider::after {
  --offset: calc(var(--thumb-size) / 2);
  content: counter(x);
  display: var(--show-min-max, block);
  font: var(--min-max-font);
  position: absolute;
  bottom: var(--flip-y, -2.5ch);
  top: calc(-2.5ch * var(--flip-y));
  opacity: Clamp(0, var(--at-edge), var(--min-max-opacity));
  transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
  pointer-events: none;
  color: #c4c4c4;
}

.range-slider::before {
  --before: 1;
  --at-edge: var(--thumb-close-to-min);
  counter-reset: x var(--min);
  left: var(--offset);
}

.range-slider::after {
  --at-edge: var(--thumb-close-to-max);
  counter-reset: x var(--max);
  right: var(--offset);
}

.range-slider__values {
  position: relative;
  top: 50%;
  line-height: 0;
  text-align: justify;
  width: 100%;
  pointer-events: none;
  margin: 0 auto;
  z-index: 5;
}

.range-slider__values::after {
  content: '';
  width: 100%;
  display: inline-block;
  height: 0;
  background: red;
}

.range-slider__progress {
  --start-end: calc(var(--thumb-size) / 2);
  --clip-end: calc(100% - (var(--cb)) * 1%);
  --clip-start: calc(var(--ca) * 1%);
  --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
  position: absolute;
  left: var(--start-end);
  right: var(--start-end);
  top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2);
  height: calc(var(--track-height));
  background: var(--progress-background, #eee);
  pointer-events: none;
  z-index: -1;
  border-radius: var(--progress-radius);
}

.range-slider__progress::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  clip-path: var(--clip);
  top: 0;
  bottom: 0;
  background: var(--fill-color, black);
  box-shadow: var(--progress-flll-shadow);
  z-index: 1;
  border-radius: inherit;
}

.range-slider__progress::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--progress-shadow);
  pointer-events: none;
  border-radius: inherit;
}

.range-slider > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  position: absolute;
  left: 0;
  top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)));
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}

.range-slider > input:not(:only-of-type) {
  pointer-events: none;
}

.range-slider > input::-webkit-slider-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  transition: 0.1s;
}

.range-slider > input::-moz-range-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  transition: 0.1s;
}

.range-slider > input::-ms-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  border: none;
  pointer-events: auto;
  transition: 0.1s;
}

.range-slider > input:hover {
  --thumb-shadow: var(--thumb-shadow-hover);
}

.range-slider > input:hover + output {
  --value-background: var(--value-background-hover);
  --y-offset: -5px;
  color: var(--value-active-color);
  box-shadow: 0 0 0 3px var(--value-background);
}

.range-slider > input:active {
  --thumb-shadow: var(--thumb-shadow-active);
  cursor: grabbing;
  z-index: 2;
}

.range-slider > input:active + output {
  transition: 0s;
}

.range-slider > input:nth-of-type(1) {
  --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999, 1);
}

.range-slider > input:nth-of-type(1) + output {
  --value: var(--value-a);
  --x-offset: calc(var(--completed-a) * -1%);
}

.range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
  --flip: calc(var(--thumbs-too-close) * -1);
}

.range-slider > input:nth-of-type(1) + output::after {
  content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
}

.range-slider > input:nth-of-type(2) {
  --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
}

.range-slider > input:nth-of-type(2) + output {
  --value: var(--value-b);
}

.range-slider > input:only-of-type ~ .range-slider__progress {
  --clip-start: 0;
}

.range-slider > input + output {
  --flip: 1;
  --x-offset: calc(var(--completed-b) * -1%);
  --pos: calc(
        ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%
      );
  pointer-events: none;
  position: absolute;
  z-index: 5;
  background: var(--value-background);
  border-radius: 10px;
  padding: 2px 4px;
  left: var(--pos);
  transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
  transition: all 0.12s ease-out, left 0s;
}

.range-slider > input + output::after {
  content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
  font: var(--value-font);
}

.range-slider .num_tumb {
  color: #282930;
}

.section_gallery {
  padding-bottom: 30px;
  --primary-bg-color: linear-gradient(
    to bottom,
    rgba(40, 41, 48, 0),
    rgba(40, 41, 48, 1)
  );
}

@media screen and (min-width: 768px) {
  .section_gallery {
    padding-bottom: 30px;
  }
}

.section_gallery .gallery_titel {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .section_gallery .gallery_titel {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    margin-bottom: 60px;
  }
}

.section_gallery .gallery_slayd_img {
  width: 290px;
}

@media screen and (min-width: 768px) {
  .section_gallery .gallery_slayd_img {
    display: none;
  }
}

.section_gallery .gallery_img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  filter: grayscale(1);
  transition: 1s;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section_gallery .gallery_img {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.section_gallery .slayd {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.section_gallery .slayd .slayd_btn {
  color: #f4ad7b;
  border: none;
  background-color: initial;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section_gallery .slayd {
    display: none;
  }
}

.section_gallery .parent {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'q q w e' 'a s d f' 'z s x x' 't t y u' 'g h j k' 'v h b b';
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section_gallery .parent {
    display: none;
  }
}

.section_gallery .q {
  grid-area: q;
}

.section_gallery .w {
  grid-area: w;
}

.section_gallery .e {
  grid-area: e;
}

.section_gallery .a {
  grid-area: a;
}

.section_gallery .s {
  grid-area: s;
}

.section_gallery .d {
  grid-area: d;
}

.section_gallery .f {
  grid-area: f;
}

.section_gallery .z {
  grid-area: z;
}

.section_gallery .x {
  grid-area: x;
}

.section_gallery .t {
  grid-area: t;
}

.section_gallery .y {
  grid-area: y;
}

.section_gallery .u {
  grid-area: u;
}

.section_gallery .g {
  grid-area: g;
}

.section_gallery .h {
  grid-area: h;
}

.section_gallery .j {
  grid-area: j;
}

.section_gallery .k {
  grid-area: k;
}

.section_gallery .v {
  grid-area: v;
}

.section_gallery .b {
  grid-area: b;
}

.img_card {
  position: relative;
  overflow: hidden;
}

.text-hover {
  margin: 0;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 120%;
  color: #ffffff;
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  left: 0;
  background-image: var(--primary-bg-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: grayscale(1);
  transition: 1s;
  cursor: pointer;
}

.text-hover:hover, .text-hover:focus {
  filter: grayscale(0);
}

.img_card:hover .text-hover,
.img_card:focus .text-hover {
  transform: translateY(0%);
}

.img_card:hover .gallery_img,
.img_card:focus .gallery_img {
  filter: grayscale(0);
}

.reviews_section .rev_title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 28px;
  line-height: 139%;
}

@media screen and (min-width: 768px) {
  .reviews_section .rev_title {
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}

.reviews_section .feedback_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .reviews_section .feedback_img {
    width: 100px;
    height: 100px;
  }
}

.reviews_section .rating_list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .reviews_section .rating_list {
    justify-content: flex-start;
  }
}

.reviews_section .rating_list .list_item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .reviews_section .rating_list .list_item:not(:last-child) {
    margin-right: 30px;
  }
}

.reviews_section .people_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviews_section .people_card .text_name {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .reviews_section .people_card .text_name {
    font-size: 34px;
    line-height: 39px;
  }
}

.reviews_section .people_card .text_age {
  font-size: 11px;
  line-height: 19px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .reviews_section .people_card .text_age {
    font-size: 15px;
    line-height: 23px;
  }
}

.rev_card {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 25px 20px 25px 20px;
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .rev_card {
    width: 800px;
    height: 390px;
    padding: 50px;
    margin: 0;
    margin-bottom: 50px;
  }
}

.rev_card .head_title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #5f5f5f;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .rev_card .head_title {
    font-size: 21px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 14px;
  }
}

.rev_card .rev_text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .rev_card .rev_text {
    font-size: 21px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 14px;
  }
}

.rev_card .kind_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  color: #5f5f5f;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .rev_card .kind_text {
    font-size: 15px;
    line-height: 23px;
  }
}

.rev_card .kind_rating {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .rev_card .kind_rating {
    font-size: 21px;
    line-height: 30px;
  }
}

.section-footer {
  background-color: #282930;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: 320px;
  }
}

.footer .logo_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer .logo_title .logo_img {
  width: 139px;
  height: 69px;
  margin-right: 20px;
}

.footer .logo_title .text {
  display: inline-block;
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #5f5f5f;
}

@media screen and (min-width: 768px) {
  .footer .logo_title .text {
    color: white;
  }
}

.footer .foot_address {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_address {
    align-items: flex-start;
    text-align: left;
  }
}

.footer .foot_address .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_address .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_tel {
    align-items: flex-start;
    text-align: left;
    width: 200px;
  }
}

.footer .foot_tel .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_tel .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer_list {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer_list {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.footer_list .footer_list_item {
  list-style: none;
}

.footer_list .footer_list_item .icon_link {
  background-color: #f4ad7b;
}

@media screen and (min-width: 768px) {
  .footer_list .footer_list_item:not(:last-child) {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=gallery.css.map */