body {
  background-color: #282930;
  color: white;
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1200px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.modal {
  width: 100%;
  height: 100%;
  padding: 40px;
  margin: 15px;
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-titel {
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 320px) {
  .modal {
    text-align: center;
    position: absolute;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1170px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
  }
}

.text-area {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  color: #5f5f5f;
  position: relative;
}

.text-area:focus + .text-area-label,
.text-area:not(:placeholder-shown) + .text-area-label {
  color: #F4AD7B;
  transform: translateY(-31px);
}

.text-area-label {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area:focus {
  border: 1px solid #F4AD7B;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  margin: 0%;
  padding: 10px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #F4AD7B;
  transform: translateY(-40px) translateX(-26px);
}

.form-input:focus ~ .icon-input {
  fill: #F4AD7B;
}

.form-input:focus {
  border: 1px solid #F4AD7B;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

@media screen and (min-width: 1170px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 4px;
}

.checkbox:checked + .icon-checkbox {
  background-color: #F4AD7B;
  background-image: url(../img/icon/icon-check.svg);
  background-size: contain;
  background-origin: content-box;
  border: #F4AD7B;
}

.submit-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn {
  width: 290px;
  height: 55px;
  padding: 20px 20px;
  background-color: #f4ad7b;
  border: none;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #282930;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
  background-color: #282930;
}

.nav {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 70px;
  }
}

.nav .nav_button {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .nav .nav_button {
    border-radius: 50% 50%;
    background-color: #f4ad7b;
    display: block;
    border: none;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item_site_nav:not(:last-child) {
    margin-right: 25px;
  }
}

.nav .logo {
  width: 74px;
  height: 37px;
  margin-right: 22px;
}

.navigation_menu {
  display: flex;
}

.site_nav {
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site_nav {
    margin-right: 22px;
    align-items: center;
  }
}

.site_nav .item_site_nav {
  list-style: none;
  margin-right: 5px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav .item_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 155.32%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
}

.site_nav .item_site_nav .close_btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .site_nav .logo_menu {
    display: none;
  }
}

.site_nav .item_site_nav a {
  text-decoration: none;
  color: white;
}

.auth_nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

.auth_nav .icon_link_bascket {
  background-color: #f4ad7b;
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .basket {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth_nav .item_auth_nav:not(:last-child) {
    margin-right: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .item_auth_nav .icon_list {
    justify-content: flex-start;
  }
}

.auth_nav .icon {
  width: 150px;
}

.auth_nav .icon_link {
  background-color: #f4ad7b;
}

.auth_nav .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
}

.auth_nav .foot_tel .first_text {
  font-size: 11px;
  line-height: 19px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-button {
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .navigation-button .icon-cross {
    display: none;
  }
  .navigation-button.is-open .icon-cross {
    display: block;
  }
  .navigation-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .back_drop_menu {
    display: none;
  }
  .back_drop_menu.is-open {
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 41, 48, 0.5);
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .navigation_menu {
    display: none;
    position: absolute;
    width: 270px;
    height: 583px;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    font-size: 20px;
    background: #282930;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .navigation_menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation_button {
    display: none;
  }
}

.icon .icon_list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.icon .icon_item {
  list-style: none;
}

.icon .icon_item .icon_link {
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon .icon_item .icon_img {
  width: 16px;
  height: 16px;
}

.icon .icon_item:not(:last-child) {
  margin-right: 10px;
}

.icon .icon_link:hover, .icon .icon_link:focus {
  background-color: #0616ff;
}

.hero {
  position: relative;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
  }
}

.hero_content {
  position: relative;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero_content {
    margin: 0;
    width: 420px;
    margin-right: -45px;
  }
}

.hero_content .hero_titel {
  margin: 0;
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 28px;
  line-height: 139%;
}

@media screen and (min-width: 768px) {
  .hero_content .hero_titel {
    font-size: 47px;
    line-height: 55px;
  }
}

.hero_content .list_items {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.hero_content .item {
  position: relative;
  list-style: none;
  width: 97px;
  margin-right: 49px;
  margin-bottom: 20px;
}

.hero_content .item:nth-child(2n) {
  margin-right: 0px;
}

@media screen and (min-width: 768px) {
  .hero_content .item {
    width: 140px;
  }
}

.hero_content .item:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -30px;
  width: 20px;
  border-bottom: 1px solid #fff;
  margin-right: 9px;
}

@media screen and (min-width: 768px) {
  .hero_content .item:before {
    font-size: 16px;
    line-height: 23px;
  }
}

.hero_content .text {
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: inline-block;
  margin: 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero_content .text {
    font-size: 15px;
    line-height: 23px;
  }
}

.hero_content .hero_btn {
  margin-bottom: 15px;
  width: 358px;
}

.hero_img_cont {
  background-image: url(../../img/hero/cercle.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero_img_cont {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    width: 450px;
    background-size: cover;
  }
}

.hero_img_cont .hero_img {
  display: block;
  border-radius: 80px 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 154px;
}

@media screen and (min-width: 768px) {
  .hero_img_cont .hero_img {
    border-radius: 160px 160px;
    width: 250px;
  }
}

.services_price {
  background-color: #222328;
  padding-top: 30px;
  padding-bottom: 30px;
}

.services_price .price_titel {
  margin: 0;
  margin-bottom: 17px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .services_price .price_titel {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    margin-bottom: 60px;
  }
}

.services_price .price_btn {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .services_price .price_btn {
    width: 100%;
  }
}

.services_price .card_img {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.services_price .card_title {
  margin: 0;
  position: absolute;
  top: 25px;
  left: 35px;
}

@media screen and (min-width: 768px) {
  .services_price .card_title {
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
  }
}

.services_price .card_btn {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .services_price .card_btn {
    transform: translateY(103%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.services_card_list {
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services_card_list {
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .services_card_list {
    flex-wrap: wrap;
  }
}

.services_card_list .item_list {
  position: relative;
  list-style: none;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .services_card_list .item_list:hover .card_btn {
    transform: translateY(-1%);
  }
}

.services_card_list .card_link {
  color: white;
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: #33343a;
  width: 290px;
  height: 400px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .services_card_list .card_link {
    margin: 1px;
  }
}

.services_card_list .card_link .text_h3 {
  font-size: x-small;
}

.card_link:hover,
.card_link:focus {
  background-color: #1d1d22;
}

.section_product {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.section_product .card_title {
  margin: 0;
  margin-bottom: 17px;
  text-align: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .section_product .card_title {
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}

.section_product .slayd {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.section_product .slayd .slayd_btn {
  color: #f4ad7b;
  border: none;
  background-color: initial;
  margin-bottom: 30px;
  cursor: pointer;
}

.section_product .product_list {
  padding: 0;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section_product .product_list .prod_2,
  .section_product .product_list .prod_3,
  .section_product .product_list .prod_4 {
    display: none;
  }
}

.section_product .product_item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .section_product .product_item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section_product .slayd {
    display: none;
  }
}

.product_card {
  width: 290px;
  height: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .product_card {
    width: 279px;
  }
}

.product_card .product_img {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .product_card .product_img {
    width: 100%;
  }
}

.product_card .title_product {
  margin: 0;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 154.69%;
  text-align: center;
  letter-spacing: 0.03em;
}

.product_card .product_price {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 154.69%;
}

.product_card .product_price .old_price {
  color: #c2c2c2;
  text-decoration: line-through;
  margin-right: 8px;
}

.product_card .product_btn {
  color: #f4ad7b;
  border: 1px solid #f4ad7b;
  background-color: initial;
}

@media screen and (min-width: 768px) {
  .product_card .product_btn {
    width: 100%;
  }
}

.section_stocks {
  padding-top: 30px;
  padding-bottom: 10px;
}

.section_stocks .card_title {
  margin: 0;
  margin-bottom: 17px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .section_stocks .card_title {
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}

.section_stocks .slayd {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.section_stocks .slayd .slayd_btn {
  color: #f4ad7b;
  border: none;
  background-color: initial;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section_stocks .slayd {
    display: none;
  }
}

.stocks_card {
  width: 290px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .stocks_card {
    display: flex;
    width: 100%;
    height: 334px;
  }
}

.stocks_card .stocks_img {
  margin-bottom: 20px;
  width: 287px;
  height: 160px;
}

@media screen and (min-width: 768px) {
  .stocks_card .stocks_img {
    width: 597px;
    height: 334px;
  }
}

.stocks_card .stocks_offer {
  text-align: left;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .stocks_card .stocks_offer {
    padding: 60px 60px 60px 100px;
  }
}

.stocks_card .title_stocks {
  margin: 0;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: 600;
  font-size: 24.39px;
  line-height: 29px;
  padding: 0 15px 0 15px;
  color: #282930;
}

@media screen and (min-width: 768px) {
  .stocks_card .title_stocks {
    padding-left: 0;
    font-style: normal;
    font-size: 32.3909px;
    line-height: 47px;
  }
}

.stocks_card .stocks_price {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 0 15px 0 15px;
  color: #282930;
}

@media screen and (min-width: 768px) {
  .stocks_card .stocks_price {
    padding-left: 0;
    font-size: 16px;
    line-height: 23px;
  }
}

.stocks_card .stocks_btn {
  width: 260px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .stocks_card .stocks_btn {
    width: 299px;
    height: 74px;
    margin: 0;
  }
}

.section_gallery {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section_gallery {
    padding-bottom: 30px;
    height: 1050px;
  }
}

.section_gallery .gallery_titel {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .section_gallery .gallery_titel {
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    margin-bottom: 60px;
  }
}

.section_gallery .gallery_slayd_img {
  width: 290px;
}

@media screen and (min-width: 768px) {
  .section_gallery .gallery_slayd_img {
    display: none;
  }
}

.section_gallery .gallery_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section_gallery .gallery_img {
    margin: 0;
    width: 100%;
    height: 100%;
  }
}

.section_gallery .slayd {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.section_gallery .slayd .slayd_btn {
  color: #f4ad7b;
  border: none;
  background-color: initial;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section_gallery .slayd {
    display: none;
  }
}

.section_gallery .parent {
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: 'q q w e' 'a s d f' 'z s x x';
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .section_gallery .parent {
    display: none;
  }
}

.section_gallery .q {
  grid-area: q;
}

.section_gallery .w {
  grid-area: w;
}

.section_gallery .e {
  grid-area: e;
}

.section_gallery .a {
  grid-area: a;
}

.section_gallery .s {
  grid-area: s;
}

.section_gallery .d {
  grid-area: d;
}

.section_gallery .f {
  grid-area: f;
}

.section_gallery .z {
  grid-area: z;
}

.section_gallery .x {
  grid-area: x;
}

.sing_up_section {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .sing_up_section {
    margin: 0;
  }
}

.sing_up_content {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .sing_up_content {
    display: none;
    margin: 0;
  }
}

.sing_up_content .sing_up_title {
  margin: 0;
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 28px;
  line-height: 139%;
}

.sing_up_content .list_items {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sing_up_content .item {
  list-style: none;
  width: 97px;
  margin-right: 49px;
  margin-bottom: 20px;
}

.sing_up_content .item:nth-child(2n) {
  margin-right: 0px;
}

.sing_up_content .text {
  font-family: inherit;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  display: inline-block;
  margin: 0;
  position: relative;
}

.sing_up_content .text:before {
  content: '';
  position: absolute;
  top: 17%;
  width: 20px;
  border-bottom: 1px solid #fff;
  right: 100%;
  margin-right: 9px;
}

.sing_up_content .sing_up_btn {
  margin-bottom: 15px;
}

.sing_up_desk {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

@media screen and (max-width: 767px) {
  .sing_up_desk {
    display: none;
  }
}

.sing_up_desk_content {
  position: relative;
  margin: 0;
  width: 420px;
  margin-right: -75px;
}

.sing_up_desk_content .sing_up_desk_titel {
  margin: 0;
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
}

.sing_up_desk_content .list_items {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sing_up_desk_content .item {
  position: relative;
  list-style: none;
  margin-right: 49px;
  margin-bottom: 20px;
}

.sing_up_desk_content .item:nth-child(2n) {
  margin-right: 0px;
}

.sing_up_desk_content .text {
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  display: inline-block;
  margin: 0;
  position: relative;
}

.sing_up_desk_content .sing_up_desk_btn {
  margin-bottom: 15px;
  width: 300px;
  height: 74px;
}

.sing_up_desk_img_cont {
  background-image: url(../../img/hero/cercle.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  position: absolute;
  z-index: 1;
  width: 460px;
  background-size: cover;
}

.sing_up_desk_img_cont .sing_up_desk_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 160px 160px;
  width: 300px;
}

.reviews_section .rev_title {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 28px;
  line-height: 139%;
}

@media screen and (min-width: 768px) {
  .reviews_section .rev_title {
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}

.reviews_section .feedback_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .reviews_section .feedback_img {
    width: 100px;
    height: 100px;
  }
}

.reviews_section .rating_list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .reviews_section .rating_list {
    justify-content: flex-start;
  }
}

.reviews_section .rating_list .list_item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .reviews_section .rating_list .list_item:not(:last-child) {
    margin-right: 30px;
  }
}

.reviews_section .people_card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviews_section .people_card .text_name {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .reviews_section .people_card .text_name {
    font-size: 34px;
    line-height: 39px;
  }
}

.reviews_section .people_card .text_age {
  font-size: 11px;
  line-height: 19px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .reviews_section .people_card .text_age {
    font-size: 15px;
    line-height: 23px;
  }
}

.rev_card {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 25px 20px 25px 20px;
  margin: 30px;
}

@media screen and (min-width: 768px) {
  .rev_card {
    width: 800px;
    height: 390px;
    padding: 50px;
    margin: 0;
    margin-bottom: 50px;
  }
}

.rev_card .head_title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #5f5f5f;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .rev_card .head_title {
    font-size: 21px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 14px;
  }
}

.rev_card .rev_text {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .rev_card .rev_text {
    font-size: 21px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 14px;
  }
}

.rev_card .kind_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  color: #5f5f5f;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .rev_card .kind_text {
    font-size: 15px;
    line-height: 23px;
  }
}

.rev_card .kind_rating {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 27px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .rev_card .kind_rating {
    font-size: 21px;
    line-height: 30px;
  }
}

.section-footer {
  background-color: #282930;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: 320px;
    padding: 31px 15px;
  }
}

.footer .logo_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer .logo_title .logo_img {
  width: 139px;
  height: 69px;
  margin-right: 20px;
}

.footer .logo_title .text {
  display: inline-block;
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #5f5f5f;
}

@media screen and (min-width: 768px) {
  .footer .logo_title .text {
    color: white;
  }
}

.footer .foot_address {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_address {
    align-items: flex-start;
    text-align: left;
  }
}

.footer .foot_address .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_address .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_tel {
    align-items: flex-start;
    text-align: left;
    width: 200px;
  }
}

.footer .foot_tel .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_tel .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer_list {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer_list {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.footer_list .footer_list_item {
  list-style: none;
}

.footer_list .footer_list_item .icon_link {
  background-color: #f4ad7b;
}

@media screen and (min-width: 768px) {
  .footer_list .footer_list_item:not(:last-child) {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=main.css.map */