@charset "UTF-8";
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: #282930;
  color: white;
  font-family: 'Jost', Arial, Helvetica, sans-serif;
}

.list {
  list-style: none;
}

.btn {
  width: 290px;
  height: 55px;
  padding: 20px 20px;
  background-color: #f4ad7b;
  border: none;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #282930;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  cursor: pointer;
}

.page-header {
  background-color: #282930;
}

.nav {
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  .nav {
    height: 70px;
  }
}

.nav .nav_button {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
  .nav .nav_button {
    border-radius: 50% 50%;
    background-color: #f4ad7b;
    display: block;
    border: none;
    width: 35px;
    height: 35px;
  }
}

@media screen and (min-width: 768px) {
  .nav .item_site_nav:not(:last-child) {
    margin-right: 25px;
  }
}

.nav .logo {
  width: 74px;
  height: 37px;
  margin-right: 22px;
}

.navigation_menu {
  display: flex;
}

.site_nav {
  display: flex;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site_nav {
    margin-right: 22px;
    align-items: center;
  }
}

.site_nav .item_site_nav {
  list-style: none;
  margin-right: 5px;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .site_nav .item_site_nav .item_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 155.32%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }
}

.site_nav .item_site_nav .close_btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .site_nav .logo_menu {
    display: none;
  }
}

.site_nav .item_site_nav a {
  text-decoration: none;
  color: white;
}

.auth_nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav {
    flex-direction: column;
    align-items: flex-start;
  }
}

.auth_nav .icon_link_bascket {
  background-color: #f4ad7b;
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .basket {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth_nav .item_auth_nav:not(:last-child) {
    margin-right: 22px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .auth_nav .item_auth_nav .icon_list {
    justify-content: flex-start;
  }
}

.auth_nav .icon {
  width: 150px;
}

.auth_nav .icon_link {
  background-color: #f4ad7b;
}

.auth_nav .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
}

.auth_nav .foot_tel .first_text {
  font-size: 11px;
  line-height: 19px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-button {
    display: inline-block;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .navigation-button .icon-cross {
    display: none;
  }
  .navigation-button.is-open .icon-cross {
    display: block;
  }
  .navigation-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .back_drop_menu {
    display: none;
  }
  .back_drop_menu.is-open {
    width: 100vw;
    height: 100vh;
    background-color: rgba(40, 41, 48, 0.5);
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
  .navigation_menu {
    display: none;
    position: absolute;
    width: 270px;
    height: 583px;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px;
    font-size: 20px;
    background: #282930;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .navigation_menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .navigation_button {
    display: none;
  }
}

.icon .icon_list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.icon .icon_item {
  list-style: none;
}

.icon .icon_item .icon_link {
  border-radius: 50% 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon .icon_item .icon_img {
  width: 16px;
  height: 16px;
}

.icon .icon_item:not(:last-child) {
  margin-right: 10px;
}

.icon .icon_link:hover, .icon .icon_link:focus {
  background-color: #0616ff;
}

.list_stocks_menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 30px 0 30px 0;
}

@media screen and (max-width: 1169px) {
  .list_stocks_menu {
    display: none;
  }
}

.item_stocks_menu {
  width: 300px;
  text-align: center;
  color: #3b3b3b;
  font-size: 14px;
  line-height: 183.7%;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px;
}

.item_stocks_menu .prop_text {
  margin: 0;
}

.item_stocks_menu .second_prop_text {
  font-weight: 300;
  font-size: 11px;
  line-height: 183.7%;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
}

.item_stocks_menu .prop_text2 {
  margin: 0;
}

.item_stocks_menu.part_1 {
  background-color: #faf8f8;
}

.item_stocks_menu.part_2 {
  background-color: #fedfdf;
}

.item_stocks_menu.part_3 {
  background-color: #e9e9ff;
}

.item_stocks_menu.part_4 {
  background-color: #ecfff9;
}

.section_mail {
  background: #fbf9f9;
}

.email_form {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 320px;
  padding: 15px 20px;
}

@media screen and (min-width: 1170px) {
  .email_form {
    width: 760px;
    padding: 30px;
  }
}

.email_form .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 143.03%;
  text-align: center;
  text-transform: uppercase;
  color: #3b3b3b;
  margin: 0;
}

@media screen and (min-width: 1170px) {
  .email_form .text {
    margin-bottom: 35px;
    font-weight: normal;
    font-size: 30px;
    line-height: 125%;
    letter-spacing: 0.1em;
  }
}

.email_form .email_input {
  border: 0;
  background: #fff;
  width: 290px;
  height: 55px;
  font-size: 14px;
  line-height: 158.47%;
  letter-spacing: 0.03em;
  color: #3b3b3b;
  margin-right: -5px;
  margin-bottom: 13px;
  padding: 19px 25px;
}

@media screen and (min-width: 1170px) {
  .email_form .email_input {
    width: 480px;
    height: 60px;
  }
}

.email_form .email_btn {
  border: none;
  width: 290px;
  height: 55px;
  color: #fff;
  background: #f4ad7b;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 106.53%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (min-width: 1170px) {
  .email_form .email_btn {
    width: 220px;
    height: 60px;
    background: #282930;
  }
}

.check_label {
  text-align: left;
}

.check_label .checkbox-label {
  font-size: 14px;
  line-height: 158.47%;
  color: #3b3b3b;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu_prod_mob {
    overflow: hidden;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu_categories_prod {
    display: none;
    overflow: visible auto;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 20px 30px;
    font-size: 20px;
    background: #282930;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu_categories_prod.is-open {
    display: block;
  }
  .close_btn {
    border: none;
    background: unset;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .menu_btn,
  .menu_prod_mob {
    display: none;
  }
}

.menu_list_prod {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.item_menu_top {
  margin: 0;
}

.item_menu_top:not(:last-child) {
  margin-bottom: 30px;
}

.item_menu_top .top_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 155.32%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
}

.item_menu_low {
  margin: 0;
}

.item_menu_low:not(:last-child) {
  margin-bottom: 20px;
}

.item_menu_low .low_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  color: rgba(255, 255, 255, 0.5);
}

.section_product {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.section_product .card_title {
  margin: 0;
  margin-bottom: 17px;
  text-align: center;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  .section_product .card_title {
    font-size: 60px;
    line-height: 70px;
    text-align: left;
  }
}

.section_product .slayd {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.section_product .slayd .slayd_btn {
  color: #f4ad7b;
  border: none;
  background-color: initial;
  margin-bottom: 30px;
  cursor: pointer;
}

.section_product .product_list {
  padding: 0;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .section_product .product_list .prod_2,
  .section_product .product_list .prod_3,
  .section_product .product_list .prod_4 {
    display: none;
  }
}

.section_product .product_item {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .section_product .product_item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .section_product .slayd {
    display: none;
  }
}

.product_card {
  width: 290px;
  height: 480px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .product_card {
    width: 279px;
  }
}

.product_card .product_img {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .product_card .product_img {
    width: 100%;
  }
}

.product_card .title_product {
  margin: 0;
  margin-bottom: 10px;
  padding: 5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 154.69%;
  text-align: center;
  letter-spacing: 0.03em;
}

.product_card .product_price {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 154.69%;
}

.product_card .product_price .old_price {
  color: #c2c2c2;
  text-decoration: line-through;
  margin-right: 8px;
}

.product_card .product_btn {
  color: #f4ad7b;
  border: 1px solid #f4ad7b;
  background-color: initial;
}

@media screen and (min-width: 768px) {
  .product_card .product_btn {
    width: 100%;
  }
}

body {
  background: #fff;
  color: #3b3b3b;
}

.detailed_card {
  display: flex;
}

.img_card {
  background-image: url("../../../img/single_prod/single_prod_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #f3f3f3;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  width: 445px;
  height: 450px;
}

.img_card .img_text {
  font-size: 12px;
  line-height: 139.12%;
  color: #ffffff;
  background: #f4ad7b;
  display: inline-block;
  margin: 0;
  padding: 8px 20px;
}

.img_card .img_text:not(:last-child) {
  margin-bottom: 12px;
}

.title_name_product {
  font-weight: normal;
  font-size: 30px;
  line-height: 140.62%;
}

.about_prod {
  padding: 30px;
}

.rating-area {
  display: inline-block;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  float: right;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
  content: '★';
}

.rating-area > input:checked ~ label {
  color: #f4ad7b;
  text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #f4ad7b;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #f4ad7b;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
}

.brend_text {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 140.62%;
  color: #bebebe;
}

.brend_text_name {
  display: inline-block;
  color: #f4ad7b;
}

.volume {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 140.62%;
  color: #bebebe;
}

.volume_box {
  display: inline-block;
  /* Checked */
}

.volume_box .ml[type='radio'] {
  display: none;
}

.volume_box .label_ml {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #413239;
}

.volume_box .ml[type='radio']:checked + .label_ml {
  border: 1px solid #f4ad7b;
}

.reviews {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 140.62%;
  margin: 0;
  margin-right: 40px;
}

.articl_prod {
  display: inline-block;
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 149.5%;
  letter-spacing: 0.05em;
  color: #bebebe;
}

.articl_prod span {
  color: #3b3b3b;
}

.stroke_list {
  padding: 0;
  margin: 0;
  margin-right: 24px;
}

.stroke_item {
  position: relative;
}

.stroke_item:not(:last-child) {
  margin-bottom: 15px;
}

.stroke_item input {
  width: 100%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.stroke_img {
  display: block;
}

.palette_list {
  padding: 0;
  margin: 0;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}

.palette_item:not(:nth-child(10n)) {
  margin-right: 12px;
}

.palette_item:nth-child(-n + 10) {
  margin-bottom: 12px;
}

.palette_item .input_prod {
  appearance: none;
  position: absolute;
}

.palette_item .icon-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: #f9f7f7;
  padding: 2px;
}

.palette_item .icon-checkbox.color_1 {
  background: #e1bca1;
}

.palette_item .icon-checkbox.color_2 {
  background: #e1bca1;
}

.palette_item .icon-checkbox.color_3 {
  background: #ddb697;
}

.palette_item .icon-checkbox.color_4 {
  background: #ddb697;
}

.palette_item .icon-checkbox.color_5 {
  background: #ddb28f;
}

.palette_item .icon-checkbox.color_6 {
  background: #ddb697;
}

.palette_item .icon-checkbox.color_7 {
  background: #ddb28f;
}

.palette_item .icon-checkbox.color_8 {
  background: #ddb697;
}

.palette_item .icon-checkbox.color_9 {
  background: #ddb28f;
}

.palette_item .icon-checkbox.color_10 {
  background: #e8cfbb;
}

.palette_item .input_prod:checked + .icon-checkbox {
  outline: 1px solid #3b3b3b;
  outline-offset: 2px;
}

.stroke_item {
  display: block;
}

.stroke_item input[type='radio'] {
  display: none;
}

.stroke_item label {
  display: block;
  cursor: pointer;
  border: 1px solid #f2aaaa00;
}

/* Checked */
.stroke_item input[type='radio']:checked + label {
  border: 1px solid #f2aaaa;
}

/* Hover */
.stroke_item label:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
  background: #fafafa;
  padding: 30px;
}

.description .descr_text {
  font-size: 14px;
  line-height: 154%;
}

.product_card {
  padding: 0 14px;
}

@media screen and (min-width: 1160px) {
  .title_card {
    font-weight: normal;
    font-size: 30px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.descr_list {
  display: flex;
  padding: 0 20px 20px 20px;
  margin: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #dbdbdb;
}

.descr_item:not(:last-child) {
  margin-right: 35px;
}

.descr_categor {
  font-weight: 600;
  font-size: 14px;
  line-height: 140.62%;
  text-transform: uppercase;
  opacity: 0.5;
}

.descr_categor.activ {
  opacity: 1;
}

.section-footer {
  background-color: #282930;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer {
    width: 320px;
    padding: 31px 15px;
  }
}

.footer .logo_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer .logo_title .logo_img {
  width: 139px;
  height: 69px;
  margin-right: 20px;
}

.footer .logo_title .text {
  display: inline-block;
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #5f5f5f;
}

@media screen and (min-width: 768px) {
  .footer .logo_title .text {
    color: white;
  }
}

.footer .foot_address {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_address {
    align-items: flex-start;
    text-align: left;
  }
}

.footer .foot_address .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_address .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer .foot_tel {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer .foot_tel {
    align-items: flex-start;
    text-align: left;
    width: 200px;
  }
}

.footer .foot_tel .first_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

.footer .foot_tel .second_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.footer_list {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer_list {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.footer_list .footer_list_item {
  list-style: none;
}

.footer_list .footer_list_item .icon_link {
  background-color: #f4ad7b;
}

@media screen and (min-width: 768px) {
  .footer_list .footer_list_item:not(:last-child) {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=single_prod_page.css.map */