.section_tur {
  background-image: url(../../../img/3dtur/bgimg_3dtur.jpg);
  background-position: center;
  background-size: contain;
  width: 1200px;
  height: 780px;

  text-align: center;

  padding: 155px 0 115px 0;

  & .main_title {
    font-family: Playfair Display;

    font-size: 90px;
    line-height: 100px;

    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  & .second_title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 70px;
  }

  & .tur_text {
    font-family: Playfair Display;

    font-weight: bold;
    font-size: 150px;
    line-height: 144%;

    text-align: center;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin: 0;

    color: rgba(255, 255, 255, 0.15);
  }

  & .rut_btn {
    border: 1px solid #fff;

    width: 452px;
    height: 90px;
    color: #fff;
    background-color: unset;

    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}
