body {
  color: #282930;
  background-color: #fff;
}

.price {
  margin-bottom: 80px;
}

.titel_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .main_titel {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 70px;
    margin: 0;
    margin-bottom: 40px;
  }

  & .search_input {
    border: none;
    border-bottom: 1px solid #b0b0b0;

    font-size: 16px;
    line-height: 23px;
    color: #b0b0b0;

    width: 700px;
    height: 40px;
  }
}

.form_radio_btn {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}
.form_radio_btn input[type='radio'] {
  display: none;
}
.second_titel {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  border: none;
  border-radius: 6px;
  user-select: none;

  font-weight: 600;
  font-size: 21px;
  line-height: 30px;

  color: #c1c1c1;
}

/* Checked */
.form_radio_btn input[type='radio']:checked + label {
  color: #ac92ed;
  border-bottom: 2px solid #ac92ed;
}

.table_women {
  width: 900px;
  margin: 0;
  padding: 0;

  border-spacing: 0;
}

.table_line {
  background-color: #fff;
  height: 75px;

  &:nth-child(2n) {
    background-color: #fef7f2;
  }
}
.table_title {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  min-width: 171px;

  //   text-transform: uppercase;
  text-align: center;

  color: #777777;
  padding: 25px;

  &:first-child {
    text-align: left;
    padding: 25px;
  }

  &:last-child {
    opacity: 0;
    cursor: pointer;
  }

  & .reservation {
    height: 100%;
    border: none;
    background-color: unset;
    padding: 0;

    cursor: pointer;

    font-weight: bold;
    font-size: 12px;
    line-height: 100%;

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #f4ad7b;

    border-bottom: 1px solid #f4ad7b;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.text_service {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
  padding: 0;
}

.text_master {
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  color: #ac92ed;
  margin: 0;
  padding: 0;
}

.title_place {
  position: relative;

  width: 900px;
  height: 60px;
  margin: 0;
  padding: 13px 25px 13px 25px;

  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;

  color: #282930;

  background-color: #f4ad7b;
}

.tb {
  width: 900px;
  margin: 0;
  margin-bottom: 20px;
  position: relative;

  box-shadow: 0px 64px 134px rgba(0, 0, 0, 0.1);

  & input[type='checkbox'] {
    width: 900px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  & .title_place {
    &:after {
      content: '^';
      position: absolute;
      font-size: 40px;
      font-weight: 100;
      top: 5px;
      right: 25px;
      color: #282930;
      transform: rotate(180deg);
    }
  }

  & .table_women {
    display: none;
  }

  & input[type='checkbox']:checked ~ .title_place {
    &:after {
      content: '^';
      position: absolute;
      top: 25px;
      right: 25px;

      transform: rotate(0deg);
    }
  }

  & input[type='checkbox']:checked ~ .table_women {
    display: table;
  }
}

/////////@

// aside menu

////////////

.aside_menu {
  width: 250px;
  height: 680px;
  float: right;

  background: #faf8f8;
}

.aside_titel {
  font-family: 'Playfair Display';
  font-size: 21px;
  line-height: 28px;

  margin: 0;
  padding: 15px 25px;

  border-bottom: 1px solid #e2e2e2;

  color: #282930;
}

.aside_item {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 12px;
    left: -25px;
    width: 10px;
    border-bottom: 2px solid #f4ad7b;
  }
}

.aside_link {
  font-weight: 300;
  font-size: 14px;
  line-height: 183.7%;

  text-align: center;
  letter-spacing: 0.03em;

  color: #3b3b3b;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #f4ad7b;
  }
}

.section_mail {
  background: #fbf9f9;
}

.email_form {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 760px;
  padding: 30px;

  & .text {
    font-size: 30px;
    line-height: 125%;

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #3b3b3b;

    margin: 0;
    margin-bottom: 35px;
  }

  & .email_input {
    border: 0;
    background: #fff;
    width: 480px;
    height: 60px;

    font-size: 14px;
    line-height: 158.47%;
    letter-spacing: 0.03em;
    color: #3b3b3b;

    margin-right: -5px;
    margin-bottom: 13px;
    padding: 19px 25px;
  }

  & .email_btn {
    border: none;
    width: 220px;
    height: 60px;
    color: #fff;
    background: #282930;
    cursor: pointer;

    font-weight: 600;
    font-size: 12px;
    line-height: 106.53%;

    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

.check_label {
  text-align: left;
  & .checkbox-label {
    font-size: 14px;
    line-height: 158.47%;

    color: #3b3b3b;
  }
}
