.title_page {
  font-size: 30px;
  line-height: 140.62%;

  color: #3b3b3b;
}

.sec_rev_title {
  display: flex;
  justify-content: space-between;

  margin-top: 33px;
  margin-bottom: 33px;
}

.card_reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: -50px;
}

.card_reviews_item {
  list-style: none;
  width: calc((100% - 80px) / 2);
  margin-right: 30px;
  //   @media screen and (min-width: 768px) {
  //     &:not(:last-child) {
  //       margin-right: 30px;
  //     }
  //   }
}

@media screen and (min-width: 768px) {
  .rev_card {
    width: 550px;

    border: 1px solid #d0d0d0;
    border-radius: 40px;
  }
}
