.sing_up_section {
  margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.sing_up_content {
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: none;
    margin: 0;
  }

  .sing_up_title {
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 139%;
  }

  & .list_items {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  & .item {
    list-style: none;
    width: 97px;
    margin-right: 49px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0px;
    }
  }

  & .text {
    font-family: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    display: inline-block;
    margin: 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 17%;
      width: 20px;
      border-bottom: 1px solid #fff;
      right: 100%;
      margin-right: 9px;
    }
  }

  & .sing_up_btn {
    margin-bottom: 15px;
  }
}

// СЕКЦИЯ ЗАПИСИ //////////////////////////////////
/////////////////////////////////////////////////

.sing_up_desk {
  position: relative;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.sing_up_desk_content {
  position: relative;
  margin: 0;
  width: 420px;
  margin-right: -75px;

  & .sing_up_desk_titel {
    margin: 0;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 60px;
  }

  & .list_items {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  & .item {
    position: relative;
    list-style: none;

    margin-right: 49px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0px;
    }
  }

  & .text {
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;

    display: inline-block;
    margin: 0;
    position: relative;
  }

  & .sing_up_desk_btn {
    margin-bottom: 15px;
    width: 300px;
    height: 74px;
  }
}

.sing_up_desk_img_cont {
  background-image: url(../../img/hero/cercle.svg);
  background-repeat: no-repeat;
  background-position: center;

  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  position: absolute;
  z-index: 1;
  width: 460px;
  background-size: cover;

  & .sing_up_desk_img {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

    border-radius: 160px 160px;
    width: 300px;
  }
}
