
.section_mail {
  background: #fbf9f9;
}

.email_form {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 760px;
  padding: 30px;

  & .text {
    font-size: 30px;
    line-height: 125%;

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #3b3b3b;

    margin: 0;
    margin-bottom: 35px;
  }

  & .email_input {
    border: 0;
    background: #fff;
    width: 480px;
    height: 60px;

    font-size: 14px;
    line-height: 158.47%;
    letter-spacing: 0.03em;
    color: #3b3b3b;

    margin-right: -5px;
    margin-bottom: 13px;
    padding: 19px 25px;
  }

  & .email_btn {
    border: none;
    width: 220px;
    height: 60px;
    color: #fff;
    background: #282930;
    cursor: pointer;

    font-weight: 600;
    font-size: 12px;
    line-height: 106.53%;

    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

.check_label {
  text-align: left;
  & .checkbox-label {
    font-size: 14px;
    line-height: 158.47%;

    color: #3b3b3b;
  }
}