.list_stocks_menu {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 30px 0 30px 0;

  @media screen and (max-width: 1169px) {
    display: none;
  }
}

.item_stocks_menu {
  width: 300px;

  text-align: center;
  color: #3b3b3b;
  font-size: 14px;
  line-height: 183.7%;

  text-align: center;
  letter-spacing: 0.03em;

  padding: 10px;

  & .prop_text {
    margin: 0;
  }

  & .second_prop_text {
    font-weight: 300;
    font-size: 11px;
    line-height: 183.7%;

    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
  }

  & .prop_text2 {
    margin: 0;
  }

  &.part_1 {
    background-color: #faf8f8;
  }

  &.part_2 {
    background-color: #fedfdf;
  }

  &.part_3 {
    background-color: #e9e9ff;
  }

  &.part_4 {
    background-color: #ecfff9;
  }
}
