body {
  background: #fff;
  color: #3b3b3b;
}

.detailed_card {
  display: flex;
}

.img_card {
  background-image: url('../../../img/single_prod/single_prod_1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #f3f3f3;

  display: flex;
  align-items: baseline;
  flex-direction: column;

  width: 445px;
  height: 485px;

  & .img_text {
    font-size: 12px;
    line-height: 139.12%;
    color: #ffffff;
    background: #f4ad7b;
    display: inline-block;

    margin: 0;
    padding: 8px 20px;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.title_name_product {
  font-weight: normal;
  font-size: 30px;
  line-height: 140.62%;
  margin: 0;
  margin-bottom: 30px;
}

.about_prod {
  padding: 0 30px;
}

////////////////////////// reiting

.rating-area {
  // width: 120px;
  display: inline-block;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 15px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: '★';
}
.rating-area > input:checked ~ label {
  color: #f4ad7b;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #f4ad7b;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #f4ad7b;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}

////////////////

.brend_text {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 140.62%;
  color: #bebebe;

  &_name {
    display: inline-block;
    color: #f4ad7b;
    margin-right: 10px;
  }
}

.volume {
  display: inline-block;

  font-weight: 500;
  font-size: 14px;
  line-height: 140.62%;
  color: #bebebe;
}

.volume_box {
  display: inline-block;
  margin-bottom: 25px;

  & .ml[type='radio'] {
    display: none;
  }

  & .label_ml {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #413239;
  }

  /* Checked */
  & .ml[type='radio']:checked + .label_ml {
    border: 1px solid #f4ad7b;
  }
}
////////
.reviews {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 140.62%;
  margin: 0;
  margin-right: 40px;
}

.articl_prod {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 13px;
  line-height: 149.5%;
  letter-spacing: 0.05em;
  color: #bebebe;
  & span {
    color: #3b3b3b;
  }
}

.stroke {
  &_list {
    padding: 0;
    margin: 0;
    margin-right: 24px;
  }

  &_item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    & input {
      width: 100%;
      height: 90%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
  }

  &_img {
    display: block;
  }
}
//////////////////////////////

.palette_list {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  width: 320px;

  display: flex;
  flex-wrap: wrap;
}

.palette_item {
  &:not(:nth-child(10n)) {
    margin-right: 12px;
  }

  &:nth-child(-n + 10) {
    margin-bottom: 12px;
  }

  & .input_prod {
    appearance: none;
    position: absolute;
  }

  & .icon-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: #f9f7f7;
    padding: 2px;

    &.color_1 {
      background: #e1bca1;
    }
    &.color_2 {
      background: #e1bca1;
    }
    &.color_3 {
      background: #ddb697;
    }
    &.color_4 {
      background: #ddb697;
    }
    &.color_5 {
      background: #ddb28f;
    }
    &.color_6 {
      background: #ddb697;
    }
    &.color_7 {
      background: #ddb28f;
    }
    &.color_8 {
      background: #ddb697;
    }
    &.color_9 {
      background: #ddb28f;
    }
    &.color_10 {
      background: #e8cfbb;
    }
  }

  & .input_prod:checked + .icon-checkbox {
    outline: 1px solid #3b3b3b;
    outline-offset: 2px;
  }
}

///////////////////////////////

.count_prod {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  & .count_text {
    font-weight: 600;
    font-size: 14px;
    line-height: 140.62%;
    margin-right: 20px;
  }
}

.price {
  position: relative;
  &_new {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.03em;
    margin: 0;

    display: inline-block;
    width: 100px;

    & span {
      position: absolute;
      bottom: -50%;
      left: 0;
      font-weight: 600;
      font-size: 11px;
      line-height: 140.62%;

      color: #f4ad7b;
    }
  }
  &_old {
    position: relative;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.03em;

    text-decoration: line-through;
    margin: 0;

    color: #c2c2c2;

    display: inline-block;
    width: 100px;

    & span {
      position: absolute;
      bottom: -50%;
      left: 0;
      font-weight: 600;
      font-size: 10px;
      line-height: 140.62%;
      color: #bdbdbd;
    }
  }
}

.count_button {
  display: flex;
  align-items: center;
  width: 125px;
  height: 43px;
  // padding: 10px 20px;
  justify-content: center;
  border: 1px solid #eeeeee;
  margin-right: 20px;

  & .count_btn {
    width: 50px;
    border: 0;
    background: none;
    cursor: pointer;

    &.minus {
      color: #a6a6a6;
    }

    &.plus {
      color: #f2aaaa;
    }
  }

  & .num {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #413239;
    margin: 0;
    padding: 0;
  }
}

////////////////////////////////

.bascet_click {
  display: flex;

  & .bascket_btn {
    position: relative;
    width: 318px;
    height: 60px;

    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #282930;

    margin-right: 17px;

    &::before {
      content: '';
      position: absolute;
      top: 16px;
      left: 70px;
      width: 20px;
      height: 20px;
      background-image: url(../../../img/icon/bascket.svg);
      background-size: cover;
    }
  }

  & .fast_buy_btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 122.19%;
    letter-spacing: 0.1em;
    text-transform: none;

    background: none;
    border: 1px solid #3b3b3b;

    width: 250px;
    height: 60px;
  }
}

/////////////////////////////////
.stroke_item {
  display: block;
}
.stroke_item input[type='radio'] {
  display: none;
}
.stroke_item label {
  display: block;
  cursor: pointer;
  border: 1px solid #f2aaaa00;
}

/* Checked */
.stroke_item input[type='radio']:checked + label {
  border: 1px solid #f2aaaa;
}

/* Hover */
.stroke_item label:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

//////////////////////////////////
.description {
  background: #fafafa;
  padding: 30px;
  & .descr_text {
    font-size: 14px;
    line-height: 154%;
  }
}

.product_card {
  padding: 0 14px;
}

.title_card {
  @media screen and (min-width: 1160px) {
    font-weight: normal;
    font-size: 30px;
    line-height: 125%;

    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.descr {
  &_list {
    display: flex;

    padding: 0 20px 20px 20px;
    margin: 0;
    margin-bottom: 25px;

    border-bottom: 1px solid #dbdbdb;
  }

  &_item {
    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  &_categor {
    font-weight: 600;
    font-size: 14px;
    line-height: 140.62%;

    text-transform: uppercase;

    opacity: 0.5;

    &.activ {
      opacity: 1;
    }
  }
}

.offers {
  &_list {
    padding: 0;
    display: flex;
  }

  &_item {
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 35px;
      height: 35px;
      margin-right: 12px;
    }
  }

  &_text {
    font-weight: 600;
    font-size: 10px;
    line-height: 171.69%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
  }
}
